.landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #fafafa;
}
.landing h1{
    font-size: 72px;
    position: relative;
    margin-bottom: 0px;
    color: #696969;
}
.landing h1::before{
    content: "〇";
    position: absolute;
    right: -25px;
    top: -25px;
    font-size: 28px;
}
.landing .state{
    font-weight: bold;
    color: #696969;
}
.landing .place{
    color: #696969;
}
.landing .place svg{
    margin-right:10px;
}
.forecast{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    color: #696969;
    background-color: #fafafa;
}
.forecast li{
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    padding: 0 25px 15px ;
}
.forecast li:hover{
    background-color: #f1f1f1;
}
.forecast li.active{
    border: 1px solid #333;
    border-radius: 7px;
}
.forecast li .heat{
    position: relative;
    width: fit-content;
    margin: 15px auto;
}
.forecast li .heat::before{
    content: "〇";
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 10px;
}

@media screen and (max-width:768px){
    .forecast{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(190px, 1fr));
    }
    .forecast li{
        width: fit-content;
        margin: 0 auto 15px;
    }
}
@media screen and (min-width:768px) and (max-width:1023px){
    .forecast{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(190px, 1fr));
    }
}