.left_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #9DAAF2;
    background-color: #1A2238;
}
.left_nav p{
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}