.right_nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #696969;
    background-color: #1A2238;
    color: #9DAAF2;
}
.right_nav .time{
    font-size: 20px;
    margin: 20px 0;
}