.toggler{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 25px;
    bottom: 25px;
    background-color: #696969;
    padding: 20px 22px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    z-index: 99999;
    outline: 0;
    display: none;
}
.toggler span{
    display: block;
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}
@media screen and (max-width:768px){
    .toggler{
        display: unset;
    }
}
@media screen and (min-width:768px) and (max-width:1023px){
    .toggler{
        display: unset;
    }
}